.divAll
 {
    background-image: url('../../../images/Flux_Dev_Design_a_stunning_background_image_specifically_tailo_3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 124, 124);
 }